In [1]:
%run "../common.ipynb"

In [2]:
filename = "http://www.smartconnectedhealth.org/aura/webroot/db.jsp?q=SELECT%20*%20FROM%20loc%20WHERE%20measured_at%20%3E%20%2701-01-2017%27::timestamp%20ORDER%20BY%20id%20DESC%20LIMIT%2050&type=html";
dfErrorEntries = LoadDataSet(filename, columns=None, checkForDateTime=False);

In [26]:
import time
import datetime
import urllib.request


for k in range(dfErrorEntries['measured_at'].count()):
    print("Entry ID: "+dfErrorEntries['id'][k])
    print("Incorrect Date: "+dfErrorEntries['measured_at'][k])
    #DIVIDE time by 16.6666666666666666666666 since it was already divided by 60 and should have been divided by 1000
    correctunix = time.mktime(datetime.datetime.strptime(dfErrorEntries['measured_at'][k], "%Y-%m-%d %H:%M:%S.0").timetuple())/16.666666666666666666666666666
    #print(datetime.datetime.fromtimestamp(int(correctunix)).strftime('%Y-%m-%d %H:%M:%S.0'))
    correctdate = datetime.datetime.fromtimestamp(int(correctunix)).strftime('%Y-%m-%d %H:%M:%S.0')
    print("Corrected Date: "+correctdate)
    url = "http://www.smartconnectedhealth.org/aura/webroot/db.jsp?q=UPDATE%20loc%20SET%20measured_at%20=%20'"+correctdate.replace(" ", "%20")+"'::timestamp%20WHERE%20id%20=%20"+dfErrorEntries['id'][k]+"&type=html"
    #print(url)
    response = urllib.request.urlopen(url)
    html = response.read()
    print(html)

Entry ID: 47530
Incorrect Date: 2745-09-20 14:43:15.0
Corrected Date: 2016-07-17 08:10:59.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-07-17 08:10:59.0'::timestamp WHERE id = 47530\n\n1 row(s) affected\n"
Entry ID: 47529
Incorrect Date: 2745-09-20 14:42:27.0
Corrected Date: 2016-07-17 08:10:56.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-07-17 08:10:56.0'::timestamp WHERE id = 47529\n\n1 row(s) affected\n"
Entry ID: 47011
Incorrect Date: 2745-08-19 00:07:53.0
Corrected Date: 2016-07-15 09:13:40.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-07-15 09:13:40.0'::timestamp WHERE id = 47011\n\n1 row(s) affected\n"
Entry ID: 47010
Incorrect Date: 2745-08-19 00:07:08.0
Corrected Date: 2016-07-15 09:13:37.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-07-15 09:13:37.0'::timestamp WHERE id = 47010\n\n1 row(s) affected\n"
Entry ID: 46606
Incorrect Date: 2745-03-13 23:51:05.0
Corrected Date: 2016-07-05 21:41:27.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-07-05 21:41:27.0'::timestamp WHERE id = 46606\n\n1 row(s) affected\n"
Entry ID: 46599
Incorrect Date: 2745-03-13 20:44:12.0
Corrected Date: 2016-07-05 21:30:15.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-07-05 21:30:15.0'::timestamp WHERE id = 46599\n\n1 row(s) affected\n"
Entry ID: 46095
Incorrect Date: 2744-11-17 08:31:21.0
Corrected Date: 2016-06-28 21:47:28.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-28 21:47:28.0'::timestamp WHERE id = 46095\n\n1 row(s) affected\n"
Entry ID: 46094
Incorrect Date: 2744-11-17 06:33:03.0
Corrected Date: 2016-06-28 21:40:22.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-28 21:40:22.0'::timestamp WHERE id = 46094\n\n1 row(s) affected\n"
Entry ID: 46093
Incorrect Date: 2744-11-17 06:24:00.0
Corrected Date: 2016-06-28 21:39:50.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-28 21:39:50.0'::timestamp WHERE id = 46093\n\n1 row(s) affected\n"
Entry ID: 46092
Incorrect Date: 2744-11-17 06:22:53.0
Corrected Date: 2016-06-28 21:39:46.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-28 21:39:46.0'::timestamp WHERE id = 46092\n\n1 row(s) affected\n"
Entry ID: 46091
Incorrect Date: 2744-11-17 06:21:26.0
Corrected Date: 2016-06-28 21:39:41.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-28 21:39:41.0'::timestamp WHERE id = 46091\n\n1 row(s) affected\n"
Entry ID: 46090
Incorrect Date: 2744-11-17 06:20:36.0
Corrected Date: 2016-06-28 21:39:38.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-28 21:39:38.0'::timestamp WHERE id = 46090\n\n1 row(s) affected\n"
Entry ID: 46089
Incorrect Date: 2744-11-17 06:15:54.0
Corrected Date: 2016-06-28 21:39:21.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-28 21:39:21.0'::timestamp WHERE id = 46089\n\n1 row(s) affected\n"
Entry ID: 46088
Incorrect Date: 2744-11-17 06:13:15.0
Corrected Date: 2016-06-28 21:39:11.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-28 21:39:11.0'::timestamp WHERE id = 46088\n\n1 row(s) affected\n"
Entry ID: 46087
Incorrect Date: 2744-11-17 06:12:14.0
Corrected Date: 2016-06-28 21:39:08.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-28 21:39:08.0'::timestamp WHERE id = 46087\n\n1 row(s) affected\n"
Entry ID: 45952
Incorrect Date: 2744-10-30 07:33:01.0
Corrected Date: 2016-06-27 19:45:10.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-27 19:45:10.0'::timestamp WHERE id = 45952\n\n1 row(s) affected\n"
Entry ID: 45951
Incorrect Date: 2744-10-30 07:18:58.0
Corrected Date: 2016-06-27 19:44:20.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-27 19:44:20.0'::timestamp WHERE id = 45951\n\n1 row(s) affected\n"
Entry ID: 45950
Incorrect Date: 2744-10-30 07:17:49.0
Corrected Date: 2016-06-27 19:44:16.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-27 19:44:16.0'::timestamp WHERE id = 45950\n\n1 row(s) affected\n"
Entry ID: 45948
Incorrect Date: 2744-10-30 07:11:27.0
Corrected Date: 2016-06-27 19:43:53.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-27 19:43:53.0'::timestamp WHERE id = 45948\n\n1 row(s) affected\n"
Entry ID: 45946
Incorrect Date: 2744-10-30 06:46:14.0
Corrected Date: 2016-06-27 19:42:22.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-27 19:42:22.0'::timestamp WHERE id = 45946\n\n1 row(s) affected\n"
Entry ID: 45945
Incorrect Date: 2744-10-30 06:45:09.0
Corrected Date: 2016-06-27 19:42:18.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-27 19:42:18.0'::timestamp WHERE id = 45945\n\n1 row(s) affected\n"
Entry ID: 45943
Incorrect Date: 2744-10-30 06:40:18.0
Corrected Date: 2016-06-27 19:42:01.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-27 19:42:01.0'::timestamp WHERE id = 45943\n\n1 row(s) affected\n"
Entry ID: 45942
Incorrect Date: 2744-10-30 06:33:33.0
Corrected Date: 2016-06-27 19:41:36.0
b"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<pre>  Executing: null\nUPDATE loc SET measured_at = '2016-06-27 19:41:36.0'::timestamp WHERE id = 45942\n\n1 row(s) affected\n"