In [2]:
%run "../common.ipynb"
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6

In [44]:
df = LoadDataSet('AirPassengers.csv')
df['Month'] = pd.to_datetime(df.Month)
df.index = df['Month']
ts = pd.DataFrame(df['Passengers'] )
ts.head(10)

            Passengers
Month
1949-01-01         112
1949-02-01         118
1949-03-01         132
1949-04-01         129
...                ...
1949-07-01         148
1949-08-01         148
1949-09-01         136
1949-10-01         119

[10 rows x 1 columns]

In [45]:
displayDFs(df)

In [34]:
ts

Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
             ...
1960-09-01    508
1960-10-01    461
1960-11-01    390
1960-12-01    432
Name: Passengers, dtype: int64

In [35]:
displayDFs(ts)

IndexError: tuple index out of range

In [38]:
ts.shape

(144,)

In [39]:
df.shape

(144, 2)

In [46]:
t1 = df.Passengers

In [47]:
type(t1)

pandas.core.series.Series

In [50]:
type(df) == pd.core.frame.DataFrame

True

In [61]:
ts[:5]

            Passengers
Month
1949-01-01         112
1949-02-01         118
1949-03-01         132
1949-04-01         129
1949-05-01         121