In [1]:
%run "../PyUtils/common.ipynb"

In [2]:
import pandas as pd
import numpy as np
import qgrid
qgrid.nbinstall(overwrite=True)  # copies javascript dependencies to your /nbextensions folder
from pandas_datareader.data import get_data_yahoo
spy = get_data_yahoo(
    symbols='SPY',  
    start=pd.Timestamp('2011-01-01'),  
    end=pd.Timestamp('2014-01-01'),
    adjust_price=True,
)
spy
opts = {
    'fullWidthRows': True,
    'syncColumnCellResize': True,
    'forceFitColumns': False,
    'rowHeight': 26,
    'enableColumnReorder': True,
    'enableTextSelectionOnCells': True,
    'editable': True,
    'autoEdit': True,
    #'defaultColumnWidth': 125
}
import qgrid
qgrid.nbinstall(overwrite=True)  # copies javascript dependencies to your /nbextensions folder

In [9]:
file="../Notes/MCMC/cb2.xlsx"
df2 = LoadDataSet(file, sheetname=0);
df2.fillna('', inplace=True)
df2.index = range(len(df2))
grid = qgrid.QGridWidget(df=df2)
#display(grid);
qgrid.show_grid(df2, show_toolbar=True, grid_options= opts )

In [6]:
from IPython.display import display
grid = qgrid.QGridWidget(df=spy)
#display(grid);
qgrid.show_grid(spy, show_toolbar=True, grid_options= opts )

In [4]:
def setOpts(grid):
    grid.font_size='1.5em'
    grid.height = '150px'
    #grid.grid_options = opts
    #grid.border = '2px solid blue'
setOpts(grid)
#grid.visible = False
#grid.visible = True
def o(r):
#    print(r)
    pass
grid.observe(o)

In [ ]:
grid.trait_events()

In [5]:
pd.set_option("display.max_rows", 15)
spy

              Open    High     Low   Close     Volume  Adj_Ratio
Date
2011-01-03 111.965 112.752 111.073 112.266  138725200      0.884
2011-01-04 112.513 112.549 111.506 112.204  137409700      0.884
2011-01-05 111.851 112.858 111.745 112.787  133975300      0.884
2011-01-06 112.831 112.955 112.231 112.566  122519000      0.884
2011-01-07 112.717 112.902 111.471 112.345  156034600      0.884
2011-01-10 111.851 112.363 111.515 112.204  122401700      0.884
2011-01-11 112.610 112.876 112.178 112.602  110287000      0.884
...            ...     ...     ...     ...        ...        ...
2013-12-20 169.993 171.216 169.880 170.812  197087000      0.941
2013-12-23 171.649 171.828 171.292 171.724   85598000      0.941
2013-12-24 171.734 172.176 171.724 172.101   45368800      0.941
2013-12-26 172.486 173.070 172.468 172.976   63365000      0.941
2013-12-27 173.201 173.277 172.787 172.966   61814000      0.941
2013-12-30 172.985 173.126 172.712 172.938   56857000      0.941
2013-12-31 173.173 173.756 173.041 173.756   86119900      0.941

[754 rows x 6 columns]

In [4]:
import pandas as pd

df = pd.read_excel("~/Desktop/data/example.xlsx")
df[0:10]

,time,time_epoch,A,B,C,D,E,F,G
0,1970-01-01 00:01:00,60000,94.502279,156.472502,148.5,64.516074,25.059643,50.309681,47.875709
1,1970-01-01 00:02:00,120000,94.806195,156.706373,148.5,64.115110,24.957485,52.318899,47.933546
2,1970-01-01 00:03:00,180000,94.602035,156.691144,148.5,64.189348,24.690865,53.450254,48.524317
3,1970-01-01 00:04:00,240000,94.670353,156.496454,148.5,62.643084,24.725614,53.903586,49.280039
4,1970-01-01 00:05:00,300000,94.773446,156.812352,148.5,62.397955,24.926901,51.922754,49.678105
5,1970-01-01 00:06:00,360000,94.988226,156.862332,148.5,62.250797,25.058199,51.304056,49.555948
6,1970-01-01 00:07:00,420000,95.136126,156.442654,148.5,62.827164,25.200039,50.977912,49.406621
7,1970-01-01 00:08:00,480000,94.940064,156.649112,148.5,63.130594,24.980238,50.671936,49.238042
8,1970-01-01 00:09:00,540000,95.063763,156.529197,148.5,63.507912,25.178209,50.465806,49.006822
9,1970-01-01 00:10:00,600000,94.700157,156.535884,148.5,64.288817,24.946736,51.301328,48.808669

In [10]:
df1=df
t1 = df1[df1.columns[0]].values[0]
t2 = df1[df1.columns[0]].values[-1]
t11, t12= pd.to_datetime([t1,t2], unit=None)
t11, t12

(Timestamp('1970-01-01 00:01:00'), Timestamp('1970-01-01 00:49:00'))

In [14]:
import pandas.api.types 

timeCol='time' 
if not timeCol in df1.columns:
    timeCol = df1.columns[0]
unit=None
if (df.dtypes[timeCol] == pandas.api.types.is_number):
    if (df[timeCol]

timeCol

'time'

In [28]:
timeCol='time_epoch'
if (df[timeCol][0] > time.time()):
    unit="us"
    
timeCol

True

In [34]:
import time

1712098554.692323

In [35]:
t = pd.Timestamp('2024-4-02')
time.mktime(t.timetuple())

1712037600.0

In [44]:
pd.to_datetime(df['time_epoch'][0], unit="ms")

Timestamp('1970-01-01 00:01:00')