In [2]:
%reload_ext autoreload
%autoreload 2
import colabexts
from colabexts.jcommon import *

jpath=os.path.dirname(colabexts.__file__)
jcom = f'{jpath}/jcommon.ipynb'
%run $jcom

import os, sys, datetime, re, json, importlib
from sys import modules
from IPython.display import HTML, Javascript
import warnings
import pandas as pd
warnings.filterwarnings('ignore')

%matplotlib inline
pd.set_option('display.max_rows', 8)
sys.path.append("/opt/utils")

In [4]:
f="/opt/data/tseries/uploaded/flags.xlsx"
df = pd.read_excel(f)
df

,time,time2,time_str,time2_str,Verify,mission,title,description
0,1561978801000,1561978801000,2019-07-01 11:00:01,2019-07-03 11:00:01,2019-07-01 11:00:01,test,Anomaly on July 7th!!,Anomaly on July 7th!! Description Sir!!! This is a long string
1,1561979701000,1561979701000,2019-07-01 11:15:01,2019-07-01 11:15:01,NaT,test,title2,test description 2
2,1561980302000,1561980302000,2019-07-01 11:25:02,2019-07-01 11:25:02,NaT,test,title3,Dude!!! Anomaly on July 7th!! Description Sir!!! This is a long string
3,1561980302000,1561980302000,2019-07-01 11:25:02,2019-07-01 11:25:02,NaT,test1,title3,test description 3
4,1561980302000,1561980302000,2019-07-01 11:25:02,2019-07-01 11:25:02,NaT,test1,title3,test description 3
5,1561980302000,1561980302000,2019-07-01 11:25:02,2019-07-01 11:25:02,NaT,test1,title3,test description 3
6,1561980302000,1561980302000,2019-07-01 11:25:02,2019-07-01 11:25:02,NaT,test22,title3,test description 4

In [8]:
df['time' ]=pd.to_datetime(df.time_str ).astype(int)
df['time2']=pd.to_datetime(df.time2_str).astype(int)
df

,time,time2,time_str,time2_str,Verify,mission,title,description
0,1561978801000000000,1562151601000000000,2019-07-01 11:00:01,2019-07-03 11:00:01,2019-07-01 11:00:01,test,Anomaly on July 7th!!,Anomaly on July 7th!! Description Sir!!! This is a long string
1,1561979701000000000,1561979701000000000,2019-07-01 11:15:01,2019-07-01 11:15:01,NaT,test,title2,test description 2
2,1561980302000000000,1561980302000000000,2019-07-01 11:25:02,2019-07-01 11:25:02,NaT,test,title3,Dude!!! Anomaly on July 7th!! Description Sir!!! This is a long string
3,1561980302000000000,1561980302000000000,2019-07-01 11:25:02,2019-07-01 11:25:02,NaT,test1,title3,test description 3
4,1561980302000000000,1561980302000000000,2019-07-01 11:25:02,2019-07-01 11:25:02,NaT,test1,title3,test description 3
5,1561980302000000000,1561980302000000000,2019-07-01 11:25:02,2019-07-01 11:25:02,NaT,test1,title3,test description 3
6,1561980302000000000,1561980302000000000,2019-07-01 11:25:02,2019-07-01 11:25:02,NaT,test22,title3,test description 4

In [10]:
df.to_excel("/tmp/flags.xlsx", index=0)